body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 25px;
  justify-content: center;
  margin-top: 50px;
}

.card {
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  font-size: 18px;
  transition: 0.3s;
  border: 1px solid rgba(255,255,255,0.1);
}

.card:hover {
  transform: scale(1.05);
}

/* Status colors */
.focus {
  border-left: 5px solid red;
}

.safe {
  border-left: 5px solid limegreen;
}